@font-face {
  font-family: "FontDefault";
  src: url("./Assets//Fonts/BeVietnamPro-MediumItalic.ttf") format("woff2"),
    url("./Assets//Fonts/BeVietnamPro-BoldItalic.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$font-family-default: "FontDefault", Arial, sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #2989d8 50%,
    #207cca 90%,
    #7db9e8 100%
  );
  height: 99.4vh;
  background-repeat: no-repeat;
  background-size: cover;
}
