* {
  margin: 0;
  padding: 0;
  background-color: #eff0f2;
}

@font-face {
  font-family: "FontDefault";
  src: url("./Assets//Fonts/BeVietnamPro-MediumItalic.ttf") format("woff2"),
    url("./Assets//Fonts/BeVietnamPro-BoldItalic.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$font-family-default: "FontDefault", Arial, sans-serif;

body {
  font-family: $font-family-default;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
