* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "FontDefault";
  src: url("./Assets//Fonts/BeVietnamPro-MediumItalic.ttf") format("woff2"),
    url("./Assets//Fonts/BeVietnamPro-BoldItalic.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

$font-family-default: "FontDefault", Arial, sans-serif;

body {
  font-family: $font-family-default;
  font-size: 26px;
  color: #ffffff;
  background: linear-gradient(
    to bottom,
    #1e5799 10%,
    #2989d8 50%,
    #207cca 90%,
    #509dd8 100%
  );
  height: 99.4vh;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 10px;
}

@media (min-width: 1080px) and (max-width: 1200px) and (orientation: portrait) {
  .scratch-card {
    display: block;
    position: relative;
    height: 18vh;
    left: 5vh;
  }
  .cardsImage {
    width: 35vh;
    height: 220px;
  }
  .ScratchCard__Container {
    width: 50vh;
    height: 8vh;
  }
  .ScratchCard__Canvas {
    width: 35vh;
    left: 0%;
    height: 11.5vh;
  }
  .container-geral {
    margin: 10px 0 0 0;
  }
  .button-reset {
    width: 3vh;
    height: 3vh;
  }
  h1 {
    margin-top: 50px;
  }
}

@media (min-width: 1199px) and (max-width: 1439px) {
  body {
    height: 99.5vh;
    font-size: 10px;
  }
  .logo {
    width: 500vh;
  }
  .cardsImage {
    width: 40vh;
    height: 104px;
  }
  .scratch-card {
    width: 40vh;
    height: 120px;
    margin: 1px;
  }
  .cardsImage {
    width: 25vh;
    height: 75px;
  }
}

@media (min-width: 800px) and (max-width: 1280px) {
  body {
    height: 99.5vh;
  }
  .scratch-card {
    display: flex;
    align-items: center;
    margin: 60px;
  }
  .cardsImage {
    width: 28vh;
    height: 130px;
    border-radius: 107px;
  }
  .ScratchCard__Canvas {
    width: 28vh;
    height: 10vh;
  }
}
